@{
    ViewBag.Title = "Introduction";
}
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
    
    <div class="container fill_height">

        <div class="container news_section_container">


            <div class="row" style="margin-top: 180px; color: red; font-family: &quot; Times New Roman&quot;,serif">
                <div class="col-md-12">
                    <h1 class="title-news">Giới thiệu cửa hàng</h1>
                </div>
            </div>
            <div class="row"  style="color: black">
                <div class="col-md-12">
                    <div class="content-page rte">
                        <p style="text-align: justify;"><strong>MENSHOP</strong> tự hào là 1 trong những đơn vị cung cấp các sản phẩm mũ nón và phụ kiện thời trang nam cao cấp hàng đầu tại Việt Nam, chúng tôi chuyên phân phối các sản phẩm <strong>thời trang nam</strong> cao cấp, nhập khẩu từ khắp các nơi trên thế giới cam kết sẽ làm hài lòng tất cả những quý khách hàng sành chơi mũ tại Việt Nam. Ngoài ra chúng tôi còn là đơn vị chuyên phân phối các sản phẩm phụ kiện thời trang nam, đặc biệt là <strong>quần áo nam</strong> uy tín trên thị trường.</p>
                        <p style="text-align: justify;">Với kinh nghiệm bán hàng từ năm 2015, chúng tôi luôn không ngừng <strong>phát triển, đổi mới&nbsp;và đa dạng hóa sản phẩm, dịch vụ</strong>&nbsp;để phục vụ quý khách hàng được tốt nhất.&nbsp;</p>
                        <p style="text-align: justify;">Mọi thông tin chi tiết quý khách hàng vui lòng liên hệ:</p>
                        <p style="text-align: justify;"><strong>THEMENSHOP.VN - Thời Trang Nam</strong></p>
                        <p style="text-align: justify;">Địa chỉ: <strong>Số 47 Hà Kế Tấn, Phương Liệt, Thanh Xuân, Hà Nội</strong></p>
                        <p style="text-align: justify;">Hotline tư vấn: <strong>0828322333 - 0948613889</strong></p>
                        <p style="text-align: justify;">Email: <strong>Themenshop.vn@gmail.com</strong></p>
                        <p style="text-align: justify;">Xin chân thành cảm ơn!</p>
                        <p style="text-align: justify;">&nbsp;</p>
                    </div>            
                </div>
            </div>
        </div>
    </div>